<!DOCTYPE html>
<html>

<head>
  <title>Error</title>
  <meta charset="utf-8">
</head>

<body>
  <h1>Error</h1>
  <% if (message) { %>
    <p>
      <%= message %>
    </p>
    <% } %>
      <% if (error) { %>
        <pre><%= error.stack %></pre>
        <% } %>
</body>

</html>